.container {
	width: "100%";
	margin: "8px";
	display: "flex";
	flex-direction: "column";
}

.stackoverflow-logo {
	width: "100%";
}

.search {
	width: "100%";
	margin: "8px";
	background-color: #dcd9d6;
}

.grid {
	display: "grid";
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: repeat(auto-fit, (250px, 1fr));
}

.grid-item {
	display: flex;
	align-items: center;
}
